<app-menu></app-menu>
<div class="component nonlisthah">
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>
                <input [ngModel]="major.id" type="text" disabled>
            </td>
        </tr>
        <tr>
            <td>Code</td>
            <td>
                <input [ngModel]="major.code" type="text" disabled>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input [ngModel]="major.name" type="text" disabled>
            </td>
        </tr>
        <tr>
            <td>Min SAT</td>
            <td>
                <input [ngModel]="major.minSat" type="text" disabled>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="delete()" class="btn btn-danger" style="margin-right: 0.75rem;">Delete</button>
                <button (click)="updateSat()" class="btn btn-warning">Increase Min SAT</button>
            </td>
        </tr>
    </table>
</div>